As the original sales dataset file size exceeds over 4.5+Gb and has 46million rows,Lets just take 1st 500000 rows and create it as a new dataset.

In [ ]:
import pandas as pd

input_file = r"D:\Dataset\Flipkart-Sales-Dataset\Sales.csv"
output_file=r"D:\Dataset\Flipkart-Sales-Dataset\Sales_sample.csv"
sample_size=500000

df_sample = pd.read_csv(input_file,nrows=sample_size)
df_sample=df_sample.drop_duplicates()

df_sample.to_csv(output_file,index=False)

import dataset and review basic infos

In [ ]:
file_path=r"D:\Dataset\Flipkart-Sales-Dataset\Sales_sample.csv"
df=pd.read_csv(file_path)
df_cleaned=df.copy()

#basic infos
print("First 10 rows:")
print(df.head(10))
print("\nShape (rows,columns):)",df.shape)
print("\nColumns:",df.columns.tolist())
print("\nQuick summary of types and missing values:")
print(df.info())
print("\nBasic statistics for numeric columns:")
print(df.describe())
print("\nHow many missing values per column:")
print(df.isnull().sum())
print("\nShow me a few random rows to peek at the data:")
print(df.sample())

Identify and handle missing values using .isnull() in Python or filters in Excel.

In [ ]:
print("Missing values per column:\n",df.isnull().sum())#before

#as the number of missing values of the column-total_weighted_landing_price is less than 5% of the dataset.So removing the rows with missing values
df_cleaned = df_cleaned.dropna(subset=["total_weighted_landing_price"])

print("Missing values per column:\n",df_cleaned.isnull().sum())#after

Remove duplicate rows using .drop_duplicates() or Excel’s “Remove Duplicates”.

In [ ]:
print(f"Number of duplicates: {df.duplicated().sum()}")
#Even thought the no of duplicates is 0.Just using drop duplicates.
df_cleaned.drop_duplicates()

Standardize text values like gender, country names, etc.

In [ ]:
unique_city = df["city_name"].unique()
print(f"Number of unique cities: {len(unique_city)}")
print(unique_city)

city_counts=df["city_name"].value_counts()
print(city_counts)#before

df_cleaned["city_name"]=df_cleaned["city_name"].replace({"HR-NCR":"Delhi"})#Since HR-NCR (like Gurugram or Faridabad) is part of the National Capital Region and economically linked to Delhi, merging it under “Delhi” to simplify reporting.
df_cleaned["city_name"] =df_cleaned["city_name"].astype(str).str.strip().str.upper()

unique_city = df_cleaned["city_name"].unique()
print(f"Number of unique cities: {len(unique_city)}")
print(unique_city)

city_counts=df_cleaned["city_name"].value_counts()
print(city_counts)#after
print(df_cleaned["city_name"])

Convert date formats to a consistent type (e.g., dd-mm-yyyy).

In [ ]:
print(df["date_"].head(10))#before

df_cleaned["date_"]=pd.to_datetime(df_cleaned["date_"],errors="coerce")#Convert all date values to proper datetime
df_cleaned["date_"]=df_cleaned["date_"].dt.strftime("%d-%m-%Y")

# invalid_dates = df_cleaned[df_cleaned["date_"].isna()]#to find invalid dates
# print("Invalid dates:",invalid_dates[["date_"]])


print(df_cleaned["date_"].head(10))#after
print(df_cleaned['date_'].dtypes)
# print(df["date_"].tail(20))

Rename column headers to be clean and uniform (e.g., lowercase, no spaces).

In [ ]:
print("Before",df.columns.tolist())

df_cleaned=df_cleaned.rename(columns={"date_":"date"})

df_cleaned.columns=df_cleaned.columns.astype(str).str.strip().str.upper()
print("After",df_cleaned.columns.tolist())

Check and fix data types (e.g., age should be int, date as datetime).

In [ ]:
print("Datatypes:\n",df.dtypes)
print("Datatypes cleaned\n:",df_cleaned.dtypes)

removing unwanted columns

In [ ]:
df_cleaned=df_cleaned.drop(columns=['UNNAMED: 0.2', 'UNNAMED: 0.1', 'UNNAMED: 0'])
print(df_cleaned.head())

Save the cleaned dataset as new csv file

In [ ]:
export_path = r"D:\Dataset\Flipkart-Sales-Dataset\Sales_sample_cleaned.csv"
# Save to CSV
df_cleaned.to_csv(export_path)
print(f"Cleaned CSV saved at: {export_path}")

testing

In [ ]:
print("First 10 rows:")
print(df_cleaned.head(10))

print("\nShape (rows,columns):", df_cleaned.shape)

print("\nColumns:", df_cleaned.columns.tolist())

print("\nQuick summary of types and missing values:")
print(df_cleaned.info())

print("\nBasic statistics for numeric columns:")
print(df_cleaned.describe())

print("\nHow many missing values per column:")
print(df_cleaned.isnull().sum())

print("\nShow me a few random rows to peek at the data:")
print(df_cleaned.sample())

## Data Cleaning Summary for Flipkart Sales Dataset

- Original dataset was over 4.5 GB with 46 million rows. Sampled first 500,000 rows for manageable processing.
- Removed duplicate rows using `.drop_duplicates()`.
- Identified and dropped rows with missing values in `total_weighted_landing_price` (less than 5% missing).
- Standardized city names: merged `HR-NCR` under `Delhi` and converted city names to uppercase without spaces.
- Converted `date_` column to a consistent `dd-mm-yyyy` format and renamed it to `DATE`.
- Cleaned and standardized all column headers to uppercase and removed spaces.
- Removed unnecessary columns: `UNNAMED: 0.2`, `UNNAMED: 0.1`, and `UNNAMED: 0`.
- Checked and confirmed appropriate data types (dates as datetime, numeric columns as float/int).
- Saved final cleaned dataset as `Sales_sample_cleaned.csv`.